<html>
<head>
    <title>javascript/Flask test</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script src="http://chamu.org/tonejs/Tone.min.js"></script>
<!--    <script src="https://cdn.rawgit.com/Tonejs/Tone.js/4c2cf070/build/Tone.js"></script>-->
    <script type="text/javascript" src="javascriptTest.js"></script>
</head>
<body>
    <input type="text" id="post_param" size=20 value="テスト文字列">
    <input type="submit" value="追加" onClick="post_func('http://127.0.0.1:4000/post')">
    <input type="submit" value="削除" onClick="del_func('http://127.0.0.1:4000/del')">
    <input type="submit" value="更新" onClick="get_func('http://127.0.0.1:4000/get')">
    <div id="view"></div>
</body>
</html>